*{  color: aliceblue;
    background-image: url(../imagens/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
    background-repeat: initial;

}
div{
    width: 200px;
    height: 300px;
    border: 5px solid blue;
}

img{
    width: 100%;
    height: 100%;

}
#contain{
    object-fit: contain;
    
}
#cover{
    object-fit: cover;
}
#none{
    object-fit: none;
}
#scaledown{
    object-fit: scale-down;
}