@font-face {
    font-family: novamono;
    src: url("../fonts/NovaMono-Regular.ttf");
   }
@font-face {
    font-family: lobster;
    src: url("../fonts/Lobster-Regular.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');


p{
    font-family: novamono;
    font-stretch: condensed;
   }
li{
    font-family: lobster;
   }
#testefont{
    font-family: 'Gasoek One', sans-serif;
    font-stretch: semi-condensed;
   }