
#circulo{
    margin: auto;
    width: 300px;
    height: 300px;
    background-color:blue;
    border-style: outset;
    border-width: 10px;
    border-color: black yellow red purple;
    border-radius: 50%;
}
#retangulo{
    margin: auto;
    width: 300px;
    height: 150px;
    background-color: blueviolet;
    border: 5px solid;
    border-image-source: url(../imagens/Naruto-do-Fortnite-e1637067613353.jpg);
    border-image-slice: 1;

}
#quadrado{
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: indigo;
    border: 10px outset;
    border-image-source: linear-gradient(red, blue);
    border-image-slice: 30;
    border-width: 10px;
    border-image-outset: 10px 30px;
}